{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
 <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

 <div class="row text-center text-white mb-5">
  <div class="col-sm-4">
   <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
   <h3>SEO</h3>
   <p class="ss-color">Search Engine Optimization is about helping search engines understand and present content.
ON PAGE SEO, LEAD Generation.</p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-palette fa-2x mb-3 i-color"></i>
   <h3>Web Design</h3>
   <p class="ss-color">Unique and creative web design by desiners
html5,css,javascript</p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-code fa-2x mb-3 i-color"></i>
   <h3>Web Development</h3>
   <p class="ss-color">Powerfull backend services by- PHP,python
Framework-laravel, django.</p>
  </div>
 </div>

 <div class="row text-center text-white mb-5">
  <div class="col-sm-4">
   <i class="fab fa-android fa-2x mb-3 i-color"></i>
   <h3>Android</h3>
   <p class="ss-color">android application design & develop by separate
developers.
</p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-ad fa-2x mb-3 i-color"></i>
   <h3>Digital Marketing</h3>
   <p class="ss-color">degital marketing solutions& consultent
like- social media campain etc.</p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-ad fa-2x mb-3 i-color"></i>
   <h3>Advertising</h3>
   <p class="ss-color">To help advertising your product & services
for sells.</p>
  </div>
 </div>

 <div class="row text-center text-white mb-5">
  <div class="col-sm-4">
   <i class="fas fa-pencil-alt fa-2x mb-3 i-color"></i>
   <h3>Logo Design</h3>
   <p class="ss-color">attreactive logo design which relatad your bussiness domain
accourding to human psychology.</p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-database fa-2x mb-3 i-color"></i>
   <h3>Hosting</h3>
   <p class="ss-color">For better custumer experience we provide hosting and domain services.</p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-headset fa-2x mb-3 i-color"></i>
   <h3>Support</h3>
   <p class="ss-color">for your help you can contact me on bussiness hours
on- office, mobile,whatapp.</p>
  </div>
 </div>
 <!--fab fa-apple fa-2x mb-3 i-color-->

</div>
{% endblock content %}
